body{
            font-family: monospace;
            margin: 0;
            color: red;
        }
        .titulo {
            color: aqua;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 300;
         }
        
         .subtitulo { font-family: 'Courier New', Courier, monospace;
        }
        
        .paragrafo { font-family: 'Courier New', Courier, monospace;
        
        }
        .destaque{
            color: blue;
        }
        .box{
            background-color: chocolate;
            width: 50px;
            height: 50px;
        }